.card{
  border : 1px solid rgba(221, 209, 209, 0.162);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(98, 94, 94);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 300px;
  display: inline-block;
}
.write{
  color: rgb(241, 99, 10);
  text-align: center;
  font-style: italic;
  font-size: 41px;
}